# ignore contents of data folder but keep folder
data/*
# except data.md
!data/data.md

# ignore local mac ds_store files
.DS_Store

# ignore python cache files
__pycache__/

*.pt
*.ckpt
*.npy
*.h5py

# ignore virtual env
.venv

# ignore secrets
.env